body{
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(219, 218, 218);
}
#calculator{
    border-radius: 25px;
    max-width: 500px;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 253, 253);
}
#screen{
    border-radius: 25px;
    width: 100%;
    font-size: 3rem;
    border: none;
    padding: 25px;
    font-weight: bold;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
    
button{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 30px;
    background-color: rgb(254, 254, 254);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 3px 8px;
    transition: all ease 2ms;

}
button:hover{
    background-color: rgb(219, 218, 218);
}
button:active{
    scale: 95%;
    
}
.operator{
    background-color: rgb(39, 181, 247);
}
.equals{
    background-color: crimson;
}